# ------------------------------------------------------------------------------------------------------------------------------------------------
# Input file for PU and HIggs pt reweighting
# ------------------------------------------------------------------------------------------------------------------------------------------------
PUREWEIGHFILE	/home/mingyang/cms/puweight/latest_prompt_2012.json.68300.observed.pileup.root
PTREWEIGHFILE	/home/fabstoec/cms/ptWeights/KFactors_AllScales.root
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Datafile and total lumi in fb-1
# ------------------------------------------------------------------------------------------------------------------------------------------------
DATAFILE	/home/mingyang/cms/hist/2012_ICHEP_PreApproval/merged/2012_ICHEP_PreApproval_r12_noskim.root
LUMI		1.597
CMENERGY	8
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# name of the Tree Writer module and Tree to be analyzed
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODNAME		PhotonTreeWriterCiC
TREENAME	hPhotonTree
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Toggle ON/OFF MVA computation (variabel name is 'bdt') and Weight File
# ------------------------------------------------------------------------------------------------------------------------------------------------
#
COMPUTEMVA	OFF	/home/fabstoec/cms/cmssw/026/CMSSW_5_2_3_patch4/src/MitPhysics/data/HggBambu_SMDipho_Jan16_BDTG.weights.xml
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Project Directory (MUST BE PRESENT)
# ------------------------------------------------------------------------------------------------------------------------------------------------
#
PROJECTDIR	./bambuOutput_baseline2012_JanReReco
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# prefix for workspaces from first step. Ending will be *-data, *-mchigh and *-mclow
# ------------------------------------------------------------------------------------------------------------------------------------------------
WS1PREFIX	CMS-HGG
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Section on the Porcesses/Events
#	num proc	num photon cats		num cats(auxiliary)	num cats (analysis)	num cats (trigger)	numModels	numMasses
# -----------------------------------------------------------------------------------------------------------------------------------------------
INIT	4		4			8			6			16			1		5
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	model idx	model name	BR name	(* MUST BE DFEIND IN modelConstants.h *)
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODEL	0		sm		smbr
#MODEL	1		ff		ffbr
#MODEL	2		sm4		sm4br
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# toogle on/off (for signal modeling only) processes and give them a Name	*MC input root file (use %d as the mass wildcard (ONLY wildcard allowed)*
#	idx	name	ON/OFF			MC file name and path
# ------------------------------------------------------------------------------------------------------------------------------------------------
PROC    0	ggh	ON			file:/home/mingyang/cms/hist/2012_ICHEP_PreApproval/merged/2012_ICHEP_PreApproval_s12-h%dgg-gf-v9_noskim.root
PROC	1	vbf	ON			file:/home/mingyang/cms/hist/2012_ICHEP_PreApproval/merged/2012_ICHEP_PreApproval_s12-h%dgg-vbf-v9_noskim.root
PROC	2	wzh	ON			file:/home/mingyang/cms/hist/2012_ICHEP_PreApproval/merged/2012_ICHEP_PreApproval_s12-h%dgg-gf-v9_noskim.root
PROC	3	tth	ON			file:/home/mingyang/cms/hist/2012_ICHEP_PreApproval/merged/2012_ICHEP_PreApproval_s12-h%dgg-gf-v9_noskim.root
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# assign cross-section/BR arrays to models/processes (* must be after MODEL/PROC definitions *)
#		mod idx		proc idx	string (* MUST BE DEFINED IN modelConstants.h *)
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODPROS		0		0		gghxsec
MODPROS		0		1		vbfxsec	
MODPROS		0		2		wzhxsec
MODPROS		0		3		tthxsec
#MODPROS		1		0		null
#MODPROS		1		1		vbfxsec	
#MODPROS		1		2		wzhxsec
#MODPROS		1		3		null
#MODPROS	2		0		sm4gghxsec
#MODPROS	2		1		vbfxsec	
#MODPROS	2		2		wzhxsec
#MODPROS	2		3		tthxsec
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	Mass idx	Mass (in GeV) *MC file needs to be present for all processes*
# ------------------------------------------------------------------------------------------------------------------------------------------------
MASS	0		110.
MASS	1		120.
MASS	2		130.
MASS	3		140.
MASS	4		150.
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Min and Max Mass for the fits (* make sure are in synch with the cuts defined below *)
# ------------------------------------------------------------------------------------------------------------------------------------------------
MINMSS			100.
MAXMSS			180.
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	idx		ph(1,2).phcat	eff. SF		ele veto eff SF
# ------------------------------------------------------------------------------------------------------------------------------------------------
PHOCAT	0		1		0.983		1.000			
PHOCAT	1		2		0.996		1.000
PHOCAT	2		3		0.999		1.005
PHOCAT	3		4		1.040		1.029
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# auxilliary cat definitions
#	idx	name		Cuts
# ------------------------------------------------------------------------------------------------------------------------------------------------
AUXCAT	0	masscut		" mass>100.0 && mass<180. "
AUXCAT	1	basecut		" mass>100.0 && mass<180. && ph1.pt>(mass/3.0) && ph2.pt>(mass/4.0) "
AUXCAT	2	baseline0	" (ph1.phcat < 1.5 && ph2.phcat < 1.5) "
AUXCAT	3	baseline1	" (ph1.phcat < 2.5 && ph2.phcat < 2.5) && !(ph1.r9 > 0.94 && ph2.r9 > 0.94) "
AUXCAT	4	baseline2	" (ph1.phcat > 2.5 || ph2.phcat > 2.5) &&  (ph1.r9 > 0.94 && ph2.r9 > 0.94) "
AUXCAT	5	baseline3	" (ph1.phcat > 2.5 || ph2.phcat > 2.5) && !(ph1.r9 > 0.94 && ph2.r9 > 0.94) "
AUXCAT	6	vbfcat1		" (jet1pt>30.0 && jet2pt>20.0 && abs(jet1eta-jet2eta)>3.0 && dijetmass>250.0 && zeppenfeld<2.5 && abs(dphidijetgg)>2.6) && ph1.pt>(60.0*mass/120.0) && ph2.pt > 25. "
AUXCAT	7	vbfcat2		" (jet2pt>30.0 && dijetmass>500.0) "
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# the basecut to be applied to ALL data/MC (*use ONLY AUXCATS*)
# ------------------------------------------------------------------------------------------------------------------------------------------------
BASECAT				" masscut "
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# analysis categpry definitions
#	idx	name		eff. smearing	BG-model/Order	TCuts *use only AUXCATs from above*		StDesc(String descriptor) (*for plots and such*)
# ------------------------------------------------------------------------------------------------------------------------------------------------
ANACAT	0	basecat0_8TeV	0.005432	Bern/5		" basecut && !vbfcat1 && baseline0 "		StDesc(Baseline Cat 1)
ANACAT	1	basecat1_8TeV	0.005196	Bern/5		" basecut && !vbfcat1 && baseline1 "		StDesc(Baseline Cat 2)
ANACAT	2	basecat2_8TeV	0.007464	Bern/5		" basecut && !vbfcat1 && baseline2 "		StDesc(Baseline Cat 3)
ANACAT	3	basecat3_8TeV	0.012978	Bern/5		" basecut && !vbfcat1 && baseline3 "		StDesc(Baseline Cat 4)
ANACAT	4	basecat4_8TeV	0.008722	Bern/2		" masscut && vbfcat1 && vbfcat2"		StDesc(Baseline VBF Cat 1)
ANACAT	5	basecat5_8TeV	0.008722	Bern/2		" masscut && vbfcat1 && !vbfcat2 "		StDesc(Baseline VBF Cat 2)
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Trigger event categories
#	idx	ph1.phcat	ph2.phcat	efficiency
# ------------------------------------------------------------------------------------------------------------------------------------------------
TRIGCAT	0	1		1		1.000
TRIGCAT	1	1		2		1.000
TRIGCAT	2	1		3		1.000
TRIGCAT	3	1		4		1.000
TRIGCAT	4	2		1		0.993
TRIGCAT	5	2		2		0.993
TRIGCAT	6	2		3		0.993
TRIGCAT	7	2		4		0.993
TRIGCAT	8	3		1		1.000
TRIGCAT	9	3		2		1.000
TRIGCAT	10	3		3		1.000
TRIGCAT	11	3		4		1.000
TRIGCAT	12	4		1		0.988
TRIGCAT	13	4		2		0.988
TRIGCAT	14	4		3		0.988
TRIGCAT	15	4		4		0.988
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# 	proc	cat	right Vtx model							wrong Vtx model
#
# Gluon Fusion
ON	0	0	2	( m:-2.2m:-0.1s:3.0s:1.3f:0.07 )			2	( m:-0.5m:0.2s:4.4s:1.5f:0.6 )
ON	~	1	2	( m:-0.09m:-2.1s:1.8s:4.9f:0.87 )			2	( m:0.5m:-0.7s:4.0s:2.0f:0.6 )
ON	~	2	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
ON	~	3	2	( m:-2.3m:-0.1s:4.8s:2.8f:0.16 )			1	( m:0.5s:4.0 )
ON	~	4	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
ON	~	5	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
#  Vector Boson Fusion
ON	1	0	2	( m:-1.9m:-0.07s:4.0s:1.2f:0.05 )			2	( m:0.5m:-0.7s:4.0s:2.0f:0.6 )
ON	~	1	3	( m:-6.5m:-0.4m:0.09s:7.4s:2.8s:1.4f:0.02f:0.4 )	2	( m:-1.0m:-0.3s:5.9s:2.9f:0.2 )
ON	~	2	2	( m:5.2m:-1.0s:4.5s:0.8f:0.6 )				1	( m:0.5s:4.0 )
ON	~	3	2	( m:5.2m:-1.0s:4.5s:0.8f:0.6 )				1	( m:0.5s:4.0 )
ON	~	4	2	( m:-1.7m:0.72s:4.1s:1.4f:0.17 )			1	( m:0.5s:4.0 )
ON	~	5	2	( m:-1.7m:0.72s:4.1s:1.4f:0.17 )			1	( m:0.5s:4.0 )
# asociate with W/Z
ON	2	0	2	( m:-2.2m:-0.1s:3.0s:1.3f:0.07 )			2	( m:-0.5m:0.2s:4.4s:1.5f:0.6 )
ON	~	1	2	( m:-0.09m:-2.1s:1.8s:4.9f:0.87 )			2	( m:0.5m:-0.7s:4.0s:2.0f:0.6 )
ON	~	2	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
ON	~	3	2	( m:-2.3m:-0.1s:4.8s:2.8f:0.16 )			1	( m:0.5s:4.0 )
ON	~	4	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
ON	~	5	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
# asociate with tt
ON	3	0	2	( m:-2.2m:-0.1s:3.0s:1.3f:0.07 )			2	( m:-0.5m:0.2s:4.4s:1.5f:0.6 )
ON	~	1	2	( m:-0.09m:-2.1s:1.8s:4.9f:0.87 )			2	( m:0.5m:-0.7s:4.0s:2.0f:0.6 )
ON	~	2	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
ON	~	3	2	( m:-2.3m:-0.1s:4.8s:2.8f:0.16 )			1	( m:0.5s:4.0 )
ON	~	4	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
ON	~	5	1	( m:0.5s:4.0 )						1	( m:0.5s:4.0 )
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# here you can add additional nuissances which should be taken into account
#
#	INDEX	NAME					START	MIN	MAX
NUIS	0	CMS_hgg_nuissancedeltar9fracbarrel	1.0	0.1	10.0
NUIS	1	CMS_hgg_nuissancedeltar9fracmixed	1.0	0.1	10.0
#
# FormulaVars for final Cat count. If  not specified (DEFAULT), taken as default (and uncorrelated among Cats)
#
#	Cat	#parms	Formula				Parameters
#NSIG	0	2	"@0*@1"				NUIS(0),NOMINAL(0)
#NSIG	1	3	"(1.0-@0)*@1+@2"		NUIS(0),NOMINAL(0),NOMINAL(1)
#NSIG	2	2	"@0*@1"				NUIS(1),NOMINAL(2)
#NSIG	3	3	"(1.0-@0)*@1+@2"		NUIS(1),NOMINAL(2),NOMINAL(3)
NSIG	0	1	DEFAULT
NSIG	1	1	DEFAULT
NSIG	2	1	DEFAULT
NSIG	3	1	DEFAULT
NSIG	4	1	DEFAULT				# could use "@0"	NOMINAL(4) instead
NSIG	5	1	DEFAULT				# could use "@0"	NOMINAL(4) instead
# ------------------------------------------------------------------------------------------------------------------------------------------------
