# ------------------------------------------------------------------------------------------------------------------------------------------------
# Input file for PU and HIggs pt reweighting
# ------------------------------------------------------------------------------------------------------------------------------------------------
PUREWEIGHFILE	ON	/scratch3/mingyang/2013Moriond/HiggsReview/input/Moriond_pileup_190456-208686_minBiasXsec69400_corr_observed.root
PTREWEIGHFILE	OFF	/home/fabstoec/cms/ptWeights/KFactors_AllScales.root
VTXWEIGHTFILE	ON	/home/fabstoec/cms/cmssw/029/CMSSW_5_3_2_patch4/src/UserCode/HiggsAnalysis/HiggsTo2photons/h2gglobe/Macros/vertex_reweighing_mva_HCP2012_unblind.root
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Datafile and total lumi in fb-1
# ------------------------------------------------------------------------------------------------------------------------------------------------
DATAFILE	/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_r12a-pho-j13-v1_noskim.root
DATAFILE	/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_r12a-pho-a06-v1_noskim.root
DATAFILE	/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_r12b-dph-j13-v1_noskim.root
DATAFILE	/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_r12c-dph-a24-v1_noskim.root
DATAFILE	/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_r12c-dph-pr-v2_noskim.root
DATAFILE	/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_r12cec-dph-pr-v1_noskim.root
DATAFILE	/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_r12d-dph-pr-v1_noskim.root
LUMI		19.62
CMENERGY	8
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# name of the Tree Writer module and Tree to be analyzed
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODNAME		PhotonTreeWriterPresel
TREENAME	hPhotonTree
NOSMEARMOD	PhotonTreeWriterPreselNoSmear
NOSMEARTREE	hPhotonTree
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Toggle ON/OFF MVA computation (variabel name is 'bdt') and Weight File
# ------------------------------------------------------------------------------------------------------------------------------------------------
#
COMPUTEMVA	ON	/home/mingyang/cms/cmssw/029/CMSSW_5_3_2_patch4/src/MitPhysics/data/HggBambu_SMDipho_Jul07_BDTG.weights.xml
MVADEFFILE		/scratch/bendavid/root/hggmvaJul07/Tmva_TrainOutput_SMDipho_2012Jul07.root
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Toggle ON/OFF MVA INPUT VARIABLE CORRECTIONS (applied to MC only, only relevant if MVA analysis is done)
# ------------------------------------------------------------------------------------------------------------------------------------------------
CORRECTIDMVA	ON	/home/fabstoec/cms/root/PhotonIDMVA_new/Moriond13_phIDMVA.root
CORRECTSIGEOE	ON	/home/fabstoec/cms/root/PhotonIDMVA_new/Moriond13_phSigEoE.root
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Project Directory (MUST BE PRESENT, WITH ALL REQUIRED SUB-DIRECTORIES)
# ------------------------------------------------------------------------------------------------------------------------------------------------
#
PROJECTDIR	/scratch/fabstoec/bambuOutput_Hgg8TeV_Moriond_2H
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Section on the Porcesses/Events (ming: num photon cats and num cats (trigger) are not used; auxiliary cats are just cuts)
#	num proc	num cats (analysis)	numMasses
# -----------------------------------------------------------------------------------------------------------------------------------------------
INIT	4		9			5
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	model idx	model name	BR name	(* MUST BE DFEIND IN modelConstants.h *)
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODEL	0		sm		smbr
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# toogle on/off (for signal modeling only) processes and give them a Name	*MC input root file (use %d as the mass wildcard (ONLY wildcard allowed)*
#	idx	name	ON/OFF			MC file name and path
# -----------------------------------------------------------------------------------------------------------------------------------------------
PROC    0	ggh	ON			file:/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_s12-h%dgg-gf-v7a_noskim.root
PROC    1	vbf	ON			file:/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_s12-h%dgg-vbf-v7a_noskim.root
PROC    2	wzh	ON			file:/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_s12-h%dgg-vh-v7a_noskim.root
PROC    3	tth	ON			file:/scratch2/mingyang/hist_approval/hgg-2013Moriond/merged/hgg-2013Moriond_s12-h%dgg-tt-v7a_noskim.root
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# assign cross-section/BR arrays to models/processes (* must be after MODEL/PROC definitions *)
#		mod idx		proc idx	string (* MUST BE DEFINED IN modelConstants.h *)
# ------------------------------------------------------------------------------------------------------------------------------------------------
MODPROS		0		0		gghxsec
MODPROS		0		1		vbfxsec
MODPROS		0		2		wzhxsec
MODPROS		0		3		tthxsec
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	Mass idx	Mass (in GeV) *MC file needs to be present for all processes*
# ------------------------------------------------------------------------------------------------------------------------------------------------
MASS	0		110.
MASS	1		120.
MASS	-1		125.
MASS	2		130.
MASS	3		140.
MASS	4		150.
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# Min and Max Mass for the fits (* make sure are in synch with the cuts defined below *) WILL ALWAYS APPLY MASS CUT !
# ------------------------------------------------------------------------------------------------------------------------------------------------
MINMSS			100.
MAXMSS			180.
FITMSSMIN		10.
FITMSSMAX		10.
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
#	ETAMIN	ETAMAX		R9-Boundaries	ScaleFactors(must #R9 boundaries+1)
# ------------------------------------------------------------------------------------------------------------------------------------------------
PHEFFSCALESET	ON	preselectionEff		{
	-2.5	-1.5		0.9		SF(0.990)	SF(1.006)	# pre-selection EE-
	 1.5	 2.5		0.9		SF(0.990)	SF(1.006)	# pre-selection EE+
	-1.5	 1.5		0.9		SF(0.978)	SF(0.997)	# pre-selection EB
}
PHEFFSCALESET	ON	electronVetoEff 	{
	-2.5	-1.5		0.94		SF(0.961)	SF(0.992)	# electron veto EE-
	 1.5	 2.5		0.94		SF(0.961)	SF(0.992)	# electron veto EE+
	-1.5	 1.5		0.94		SF(0.984)	SF(0.998)	# electron veto EB
}
PHEFFSCALESET	ON	diphmvaCutEff 		{
	-2.5	-1.5		0.94		SF(0.9978)	SF(1.0000)	# MVA cut EE-
	 1.5	 2.5		0.94		SF(0.9978)	SF(1.0000)	# MVA cut EE+
	-1.5	 1.5		0.94		SF(0.9987)	SF(1.0000)	# MVA cut EB
}
# ------------------------------------------------------------------------------------------------------------------------------------------------
# auxilliary cat definitions (ming: these are the cuts)
#	idx	name		Cuts
# ------------------------------------------------------------------------------------------------------------------------------------------------
AUXCAT	0	photetacut	" ( TMath::Abs(ph1.sceta) < 1.4442 || TMath::Abs(ph1.sceta) > 1.566 ) && ( TMath::Abs(ph2.sceta) < 1.4442 || TMath::Abs(ph2.sceta) > 1.566 ) && TMath::Abs(ph1.sceta) < 2.5 && TMath::Abs(ph2.sceta) < 2.5 "
AUXCAT	1	photptcut	" ph1.pt > mass/3. && ph2.pt > mass/4. "
AUXCAT	2	photidcut	" ph1.idmva > -0.2 && ph2.idmva > -0.2 "
AUXCAT	3	bdt0		" bdt >  0.91 "
AUXCAT	4	bdt1		" bdt >  0.79 && bdt <= 0.91 "
AUXCAT	5	bdt2		" bdt >  0.49 && bdt <= 0.79 "
AUXCAT	6	bdt3		" bdt > -0.05 && bdt <= 0.49 "
AUXCAT	7	mettag		" TMath::Abs(ph1.sceta) < 1.4442 && TMath::Abs(ph2.sceta) < 1.4442 && corrpfmet > 70. && ph1.pt/mass > 45./120. && TMath::ACos(TMath::Cos(TMath::Abs(phigg-corrpfmetphi))) > 2.1 && ( TMath::ACos(TMath::Cos(TMath::Abs(jetleadNoIDphi-corrpfmetphi))) < 2.7 || jetleadNoIDpt < 50.) "
AUXCAT	8	muonTag		" leptonTag > 1.5 && leptonTag < 2.5 && ph1.pt/mass > 45./120. "
AUXCAT	9	eleTag		" leptonTag > 0.5 && leptonTag < 1.5 && ph1.pt/mass > 45./120. "
AUXCAT	10	lepTag		" leptonTag > 0.5 && leptonTag < 2.5 && ph1.pt/mass > 45./120. "
AUXCAT	11	vbfTag		" vbfTag > 0.5 "
AUXCAT	12	vbfTagLoose	" vbfTag > 0.5 && vbfTag < 1.5 "
AUXCAT	13	vbfTagTight	" vbfTag > 1.5 "
AUXCAT	14	baseBDT		" bdt > -0.05 "
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# the basecut to be applied to ALL data/MC (*use ONLY AUXCATS*)
# ------------------------------------------------------------------------------------------------------------------------------------------------
BASECAT				" baseBDT && photidcut && photetacut && photptcut "
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# analysis categpry definitions
#	idx	name					eff. smear	Smear Cat	BG-model/Order	TCuts *use only AUXCATs from above*	StDesc(String descriptor) (*for plots and such*)
# ------------------------------------------------------------------------------------------------------------------------------------------------
ANACAT	0	hgg_8TeV_2013moriond_bdt0		0.0085772	Smear(cat0)	Bern/5		" bdt0 && !mettag && !vbfTag && !lepTag "	StDesc(BDT Cat 0)
ANACAT	1	hgg_8TeV_2013moriond_bdt1		0.0088158	Smear(cat1)	Bern/5		" bdt1 && !mettag && !vbfTag && !lepTag "	StDesc(BDT Cat 1)
ANACAT	2	hgg_8TeV_2013moriond_bdt2		0.0086669	Smear(cat2)	Bern/5		" bdt2 && !mettag && !vbfTag && !lepTag "	StDesc(BDT Cat 2)
ANACAT	3	hgg_8TeV_2013moriond_bdt3		0.0131855	Smear(cat3)	Bern/5		" bdt3 && !mettag && !vbfTag && !lepTag "	StDesc(BDT Cat 3)
ANACAT	4	hgg_8TeV_2013moriond_dijettight		0.0121490	Smear(cat4)	Bern/4		" vbfTagTight && !lepTag "			StDesc(Tight Dijet Tag)
ANACAT	5	hgg_8TeV_2013moriond_dijetloose		0.0116663	Smear(cat4)	Bern/4		" vbfTagLoose && !lepTag "			StDesc(Loose Dijet Tag)
ANACAT	6	hgg_8TeV_2013moriond_mtag		0.0148120	Smear(cat4)	Bern/3		" muonTag "					StDesc(Muon Tag)
ANACAT	7	hgg_8TeV_2013moriond_etag		0.0147953	Smear(cat4)	Bern/3		" eleTag "					StDesc(Electron Tag)
ANACAT	8	hgg_8TeV_2013moriond_mettag		0.0122497	Smear(cat4)	Bern/3		" mettag && !vbfTag && !lepTag "		StDesc(MET Tag)
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# 	proc	cat	Model
#
# Gluon Fusion
#ON	0	0	( dmG1: -0.0, dmG2: -1.0, dmG3: -3.5, sigmaG1: 1.2, sigmaG2: 1.5, sigmaG3: 3.0, f1: 0.6, f2:0.1 )
ON	0	0	( dmG1: -0.0, dmG2: -1.0, sigmaG1: 1.2, sigmaG2: 1.5, f1: 0.6 )
			( dmG1: 0.0 X , sigmaG1: 5.0 )
ON	0	1	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.15 )
			( dmG1: 0.0 X , sigmaG1: 5.0 )
ON	0	2	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.15 )
			( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
ON	0	3	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.15 )
			( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
ON	0	4	( dmG1: -0.5, dmG2:  0.5, sigmaG1: 1.1, sigmaG2: 0.8, f1: 0.15 )
			( dmG1: 0.0, sigmaG1:5.0 )
ON	0	5	( dmG1: -0.2, dmG2: 0.0, sigmaG1: 1.3, sigmaG2: 2.5, f1: 0.4 )
			( dmG1: 0.0, sigmaG1:5.0 )
ON	0	6	( dmG1: 0.0 X , sigmaG1:3.0 )
			( dmG1: 0.0 X , sigmaG1:3.0 )
ON	0	7	( dmG1: 0.0 X , sigmaG1:3.0 )
			( dmG1: 0.0 X , sigmaG1:3.0 )
ON	0	8	( dmG1: 0.0 X , sigmaG1:3.0 )
			( dmG1: 0.0 X , sigmaG1:3.0 )
#  Vector Boson Fusion
ON	1	0	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.15 )
			( dmG1: 0.0, sigmaG1: 5.0 )
ON	1	1	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.15 )
			( dmG1: 0.0, sigmaG1: 5.0 )
ON	1	2	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.15 )
			( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
ON	1	3	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.15 )
			( dmG1: 0.0, sigmaG1: 5.0 )
ON	1	4	( dmG1: -0.5, dmG2: -0.0, sigmaG1: 1.1, sigmaG2: 2.5, f1: 0.15 )
			( dmG1: -0.10, dmG2: -0.05, sigmaG1: 1.55, sigmaG2: 4.0 X , f1: 0.20 )
ON	1	5	( dmG1: -0.0, dmG2: -0.4 X , dmG3: -1.5 , sigmaG1: 1.2, sigmaG2: 2.5, sigmaG3: 6.0, f1: 0.62 X , f2:0.9 )
			( dmG1: 0.2 X, dmG2: -0.5 X, sigmaG1: 2.0, sigmaG2: 5.0, f1: 0.4 )
ON	1	6	( dmG1: 0.0, sigmaG1:2.0 X )
			( dmG1: 0.0, sigmaG1:2.0 X )
ON	1	7	( dmG1: 0.0, sigmaG1:2.0 X )
			( dmG1: 0.0, sigmaG1:2.0 X )
ON	1	8	( dmG1: 0.0, sigmaG1:2.0 )
			( dmG1: 0.0 X, sigmaG1:2.0 )
#  Associated production
ON	2	0	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1: 1.0 )
ON	2	1	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1: 0.5 )
ON	2	2	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1: 1.0 )
ON	2	3	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1: 1.0 )			
ON	2	4	( dmG1: 0.0, sigmaG1:1.0 )
			( dmG1: 0.0 X , sigmaG1:1.0 )									
ON	2	5	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1:1.0 )						
ON	2	6	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1:1.0 )
ON 	2	7	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1:1.0 )			
ON	2	8	( dmG1: 0.0, dmG2: 0.2, sigmaG1: 2.5, sigmaG2: 5.5, f1: 0.7 )
			( dmG1: 0.0, dmG2: 0.2, sigmaG1: 2.5, sigmaG2: 5.5, f1: 0.36 X )
#  TTBar + H
ON	3	0	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.2 )
			( dmG1: 0.0 X , sigmaG1: 1.0 )
ON	3	1	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1: 0.5 )
ON	3	2	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1: 1.0 )
ON	3	3	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 0.5, sigmaG2: 2.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1: 1.0 )			
ON	3	4	( dmG1: 0.0, sigmaG1:1.0 )
			( dmG1: 0.0  , sigmaG1:1.0 X )									
ON	3	5	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
			( dmG1: 0.0  , sigmaG1:1.0 X )						
ON	3	6	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1:2.0 X )
ON 	3	7	( dmG1: 0.0, dmG2: 0.0, sigmaG1: 1.0, sigmaG2: 3.0, f1: 0.2 )
			( dmG1: 0.0, sigmaG1:2.0 X )			
ON	3	8	( dmG1: 0.0, dmG2: 0.2, sigmaG1: 2.5, sigmaG2: 5.5, f1: 0.7 X )
			( dmG1: 0.0, sigmaG1: 1.5 )
#
# ------------------------------------------------------------------------------------------------------------------------------------------------
# here you can add additional nuissances which should be taken into account (ming: not used)
#
# FormulaVars for final Cat count. If  not specified (DEFAULT), taken as default (and uncorrelated among Cats)
#
#	Cat	#parms	Formula				Parameters
NSIG	0	1	DEFAULT
NSIG	1	1	DEFAULT
NSIG	2	1	DEFAULT
NSIG	3	1	DEFAULT
NSIG	4	1	DEFAULT
NSIG	5	1	DEFAULT
NSIG	6	1	DEFAULT
NSIG	7	1	DEFAULT
NSIG	8	1	DEFAULT
# ------------------------------------------------------------------------------------------------------------------------------------------------
